#first1st {
    width: 200px;
    height: 200px;
    background-color: red;
    border-radius: 50%;
}

#second2nd{
    width : 200px;
    height : 200px;
    background-color: yellow;
    border-radius: 50%;
}

#third3rd{
    width : 200px;
    height : 200px;
    background-color: green;
    border-radius: 50%;
}